.root {
    margin: 0 auto;
    max-width: 600px;
    padding: 12px;
    font-size: 1.5em;



    .line {
        display: flex;
        place-items: center;
        gap: 12px;
        margin: 12px 0;

        p {
            margin: 0px;

            a:hover {
                color: #e0e557;
                text-shadow: 0px 0px 2200px #e0e557;
            }
        }
    }

    .openingHours {
        margin: 12px 0;

        .title {
            display: flex;
            gap: 8px;
        }

        .hours {
            margin-left: 33px;
        }
    }

    .socials {
        display: flex;
        gap: 8px;
        justify-content: center;
        transition: 150ms ease-in-out;

        .social {
            cursor: pointer;

            &:hover {
                color: #e0e557;
                box-shadow: 0px 20px 130px #e0e557;
            }
        }
    }
}