.root {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    place-items: center;
    justify-content: center;
    z-index: 3;

    .close {
        font-family: arial;
        scale: 5;
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 50px;

        &::after {
            content: '\00d7';

        }
    }

    .child {
        display: flex;
        place-items: center;
        justify-content: center;
        min-width: 100dvw;
        min-height: 100dvh;
        background: red;
    }
}