.root {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    place-items: center;
    justify-content: center;

    .close {
        font-family: arial;
        scale: 5;
        cursor: pointer;
        position: absolute;
        top: 100px;
        right: 50px;

        &::after {
            content: '\00d7';

        }
    }
}