.root {
    position: relative;
    z-index: 2;

}

.menuList {
    position: fixed;

    &[data-is-open="closed"] {
        top: -100%;
    }

    @media (min-width:768px) {
        position: static;
    }
}