.root {
    padding: 12px;
    max-width: 600px;
    margin: 24px auto;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: black;
    border-radius: 15px;
    transition: transform 0.3s ease;


    &:hover {
        transform: scale(1.2);

    }


    .header {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        .rating {
            transform: translateY(2px);
        }

        h3 {
            margin: 0;
        }
    }

    .comment {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.2em;
    }

}